.MenuIcon {
  width: 30px;
  height: 22px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 4px auto;
  transition: 0.5s;
}

.open .bar1 {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #ff00c6;
}

.open .bar2 {
  opacity: 0;
  width: 0;
}

.open .bar3 {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: #4c239d;
}
