.body {
  background-size: contain no-repeat;
  background-attachment: fixed;
}
.container {
  margin: 8vh clamp(1vh, 2vh, 5vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* overflow: hidden; */
  padding: clamp(10px, 1vh, 20px);
  /* border: 2px solid white; */
}
.heading {
  font-size: clamp(1.5rem, 5vw, 2rem);
  text-align: center;
  margin-bottom: clamp(10px, 1vh, 20px);
  font-weight: bold;
  color: white;
}

.item-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
  width: calc(100% - clamp(20px, 2vw, 40px));
  column-gap: clamp(10px, 5vh, 50px);
  row-gap: clamp(1vh, 5vh, 6vh);
  align-items: center;
  margin: auto;
  padding: 0;
  transform-style: preserve-3d;
  perspective: 2500px;
  -webkit-transform-style: preserve-3d;
  /* overflow: hidden; */
  /* border: 2px solid white; */
}
.card-cont {
  padding: 0;
  margin: 0;
  width: clamp(250px, 35vw, 300px);
  justify-self: center;
  /* pointer-events: none; */
  /* border: 2px white solid; */
}
.card {
  width: clamp(250px, 35vw, 300px);
  justify-self: center;
  align-items: center;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1.4s ease;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5% !important;
  animation: fadeIn 1s ease;
  /* pointer-events: auto; */
  /* animation-timeline: view();
  animation-range: entry 10%, exit 10%; */
}
.card:not(.flipped) {
  transition: all 1s ease-in-out;
}
.front {
  display: flex;
  align-items: center;
  flex-direction: column;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 2px solid;
  border-radius: 5%;
  border-color: grey;
  height: clamp(350px, 24vw, 400px);
  width: clamp(250px, 34vw, 300px);
  overflow: hidden;
}
.back {
  border: 1px solid;
  border-radius: 5%;
  border-color: grey;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  height: clamp(350px, 24vw, 400px);
  width: clamp(250px, 34vw, 300px);
  background-color: black;
  z-index: 0;
}
.card-cont:hover .card {
  transform: rotateY(180deg);
}
.card.flipped {
  transform: rotateY(360deg) !important;
  transition: all 0s;
}
.card.flipped > .back {
  transform: rotateY(0deg);
  transition: all 0s;
}
.back h3,
.back h4 {
  color: white;
}
.frole {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  text-align: center;
  padding-top: 80%;
  background-color: rgba(0, 0, 0, 0.3);
}
h2.frole {
  color: white;
  font-weight: bold;
}
.logo {
  width: clamp(200px, 15vw, 300px);
  display: flex;
}
.tprofile {
  align-items: center;
  height: clamp(80px, 15vh, 250px);
  border-radius: 100%;
  box-shadow: 0 0 0 1px#ff00c6, 0 0 0 3px #962db6, 0 0 0 5px #4c239d;
}
.fprofile {
  width: clamp(250px, 35vw, 300px);
  height: clamp(350px, 24vw, 400px);
  border-radius: 5%;
  border: none;
  object-fit: fill;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.socials {
  margin-bottom: clamp(10px, 1vh, 50px);
  z-index: 1;
}
.socialt {
  margin: 0 25px;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
.socialt:hover {
  color: orange;
}
@keyframes fadeIn {
  from {
    scale: 0.5;
    opacity: 0;
    transform: translateY(2000px);
  }
  to {
    scale: 1;
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (max-width: 810px) {
  .item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .item-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .tprofile {
    height: 80px;
  }
  .item-container {
    perspective: 5000px;
  }
}
canvas {
  border-radius: 5%;
  position: absolute;
  z-index: -1;
}
