<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Society for Data Science - About</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="dots.css" />
    <link rel="stylesheet" href="cards.css" />
    <link rel="stylesheet" href="typwriter.css" />
    <link rel="stylesheet" href="testimonials.css" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="download-removebg-preview (1).png"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Didact Gothic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Sacramento:400"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alice"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Vibur:400"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black">
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="content" style="padding-bottom: 0px">
      <div class="welcome" style="padding-bottom: 0px">
        <p
          style="
            font-size: medium;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 5%;
            padding-top: 10%;
          "
        >
          WELCOME TO THE THE HUB OF DATA-DRIVEN INSIGHTS AND INNOVATION
        </p>
        <p>
          <br />
        </p>

        <h1
          style="
            color: #ff0000;
            padding-left: 5%;
            font-size: 72px;
            background: -webkit-linear-gradient(#ff00c6, #4c239d);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          "
        >
          Society for Data Science.
        </h1>
        <br />
        <div class="intro">
          <p
            class="typed"
            style="
              font-size: 75%;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              padding-left: 5%;
              padding-right: 25%;
            "
          >
            Dive into the boundless<span class="type" style="--n: 116">
              world of data science with us, where inclusivity meets innovation,
              empowering students of all backgrounds to excel!</span
            >
          </p>
        </div>
        <br />
        <br />
      </div>
    </div>

    <div class="who" id="whi">
      <h6 class="we">/WHO WE ARE</h6>
      <h3 class="headings">
        The Society for Data Science, BIT Mesra is a pioneering student-run,
        not-for-profit organization dedicated to exploring the realms of data
        science and its diverse interdisciplinary applications.
      </h3>
      <br />
      <p class="para">
        Since its founding in 2019, we have united students from various
        disciplines behind our shared passion for all things data. Our mission
        is to foster a strong data science community on campus. Each semester,
        we focus on developing educational learning experiences like our
        technical workshops and decal courses to expand data science education
        on campus, hosting professional events for students to connect with
        industry leaders and grow their network, and conducting analytics
        consulting projects to help members gain experience and make an impact.
        Our program provides over a hundred students each semester with
        mentorship and data science skills through working in teams on a
        tangible group project. We aim to build an inclusive and accessible
        community where students of all levels and backgrounds can dive into the
        world of data science.
      </p>
      <br />
    </div>
    <div class="profile-container">
      <article class="profile">
        <h2 class="profile-username">Define</h2>

        <p>
          Data science is the interdisciplinary field that 
          uses statistical, computational, and analytical 
          methods to extract insights and knowledge from data.
        </p>
      </article>

      <article class="profile">
        <h2 class="profile-username">Build</h2>

        <p>
          Building a successful data science career 
          involves more than technical skills, 
          encompassing job acquisition, project management, 
          and leadership development.
        </p>
      </article>
    </div>
    <div class="who" id="whut">
      <h6 class="we"><br />/WHAT WE DO</h6>
      <h2 class="headings">
        We have everything you need to launch and to grow your academic
        environment.
      </h2>
      <br />
      <p class="para">
        The Society for Data Science is a non-profit society of data science
        enthusiasts that serves our members, improving the data science
        profession, eliminating bias and enhancing diversity, and advancing
        ethical data science throughout the world.
      </p>
      <br />
    </div>
    <div class="cards-container">
      <article class="card">
        <img
          class="card__background"
          src="abstract-background-images-wallpaper-ai-generated_643360-33367.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title">🚀<br />Workshop</h2>
            <p class="card__description">
              The Data Science Workshop enhances your 
              practical skills, teaching you to develop 
              simple to advanced machine learning models 
              in Python, including bank fraud detection, 
              using real examples for real results.
            </p>
          </div>
        </div>
      </article>
      <article class="card">
        <img
          class="card__background"
          src="abstract-background-images-wallpaper-ai-generated_643360-33367.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title">⚙️<br />Projects</h2>
            <p class="card__description">
              Unlock the power of data with our dynamic 
              approach to analysis, using scientific 
              methods and cutting-edge algorithms. Gain 
              hands-on machine learning expertise and 
              transform data into actionable insights 
              through impactful projects. Embark on this 
              exciting adventure and elevate your data science career!
            </p>
          </div>
        </div>
      </article>
      <article class="card">
        <img
          class="card__background"
          src="abstract-background-images-wallpaper-ai-generated_643360-33367.jpg"
          alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
          width="1920"
          height="2193"
        />
        <div class="card__content | flow">
          <div class="card__content--container | flow">
            <h2 class="card__title">🌐<br />Open Source</h2>
            <p class="card__description">
              Open-source has become the standard for building 
              software across diverse industries, with companies 
              both using open source code for their products and 
              recognizing the strategic value of contributing back.
            </p>
          </div>
        </div>
      </article>
    </div>

    <div class="who">
      <h6 class="we">/WHAT THEY SAY</h6>
      <h2 class="headings">Testimonials</h2>
      <br />
    </div>
    <div class="profile-container">
      <article class="profile">
        <div class="profile-image">
          <img src="Seshadev-Padhi-removebg-preview.png" />
        </div>
        <h2 class="profile-username">Prof. S. Padhi</h2>
        <small class="profile-user-handle">Department of Mathematics</small>
        <p>
          "Data scientists are analytical experts who utilize their skills in
          both technology and social science to find trends and manage data.
          They use industry knowledge, contextual understanding, skepticism of
          existing assumptions - to uncover solutions to business challenges"
        </p>
      </article>

      <article class="profile">
        <div class="profile-image">
          <img src="1709622482629.jpeg" />
        </div>
        <h2 class="profile-username">Dr. Kirti Avishek</h2>
        <small class="profile-user-handle"
          >Department of Civil and Environmental Science Engineering</small
        >
        <p>
          "The expert at anything was once a beginner. We believe that the most
          valuable asset of a community are the people passionate about their
          field and willing to share their knowledge and experience with others
          - that are true educators who help others grow!"
        </p>
      </article>
    </div>
    <script>
      const typingElements = document.querySelectorAll(".who")

      function checkScroll() {
        const windowHeight = window.innerHeight
        const scrollY = window.scrollY || window.pageYOffset

        typingElements.forEach((typingElement) => {
          const elementOffsetTop = typingElement.getBoundingClientRect().top

          // If the top of the element is in the viewport, add the typing class
          if (elementOffsetTop < windowHeight - 100) {
            typingElement.classList.add("typing")
          }
        })

        // Remove event listener once the animation starts for all elements
        if (
          document.querySelectorAll(".who.typing").length ===
          typingElements.length
        ) {
          window.removeEventListener("scroll", checkScroll)
        }
      }

      window.addEventListener("scroll", checkScroll)
    </script>
  </body>
</html>
