@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");

:root {
  /* Colors */
  --brand-color: #ff00c6;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  /* Fonts */
  --font-title: "Playfair Display";
  --font-text: "Lato", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h2,
p {
  margin: 0;
}

/* GLOBAL STYLES */
body {
  place-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.25rem;
  font-family: var(--font-title) !important;
  color: var(--white) !important;
  line-height: 1.1;
  font-weight: bold !important;
}

p {
  font-family: var(--font-text) !important;
  font-size: 1rem;
  line-height: 1.5;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* cards COMPONENT */

.cards {
  display: grid !important;
  place-items: center;
  max-width: 350px;
  height: 28.125rem !important;
  overflow: hidden;
  border-radius: 0.625rem !important;
  border: none !important;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  flex: 1;
}
.cards-container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Add some spacing between cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
}
.cards > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 95%;
  padding: 12% 1.25rem 1.875rem;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.3) 10%,
    hsl(0, 0%, 0%) 100%
  );
}
.card__description {
  color: white;
}
.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
  background-color: var(--brand-color);
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}

@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .cards:hover,
  .cards:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .cards:hover .card__content,
  .cards:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .cards:focus-within .card__content {
    transition-duration: 0ms;
  }

  .cards:hover .card__background,
  .cards:focus-within .card__background {
    transform: scale(1.3);
  }

  .cards:hover .card__content--container > :not(.card__title),
  .cards:hover .card__button,
  .cards:focus-within .card__content--container > :not(.card__title),
  .cards:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .cards:hover .card__title::after,
  .cards:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
}
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column; /* Stack cards vertically on small screens */
    align-items: center; /* Center cards vertically */
  }

  .cards {
    max-width: 100%; /* Set max-width to 100% on small screens */
  }
}
